$dark-green:   #303224;
$medium-green: #3c3e31;

$light-green:  #c1c990;
$cream:        #f8f3c3;

$mint:         #94c9a1;
$orange:       #e16b15;

$brown:        #7c815e;

$column: em(56);
$gutter: em(30);

$col1:  $column;
$col2:  ($column * 2)  + $gutter;
$col3:  ($column * 3)  + ($gutter * 2);
$col4:  ($column * 4)  + ($gutter * 3);
$col5:  ($column * 5)  + ($gutter * 4);
$col6:  ($column * 6)  + ($gutter * 5);
$col7:  ($column * 7)  + ($gutter * 6);
$col8:  ($column * 8)  + ($gutter * 7);
$col9:  ($column * 9)  + ($gutter * 8);
$col10: ($column * 10) + ($gutter * 9);
$col11: ($column * 11) + ($gutter * 10);
$col12: ($column * 12) + ($gutter * 11);

$break1: 500px;
$break2: 750px;
$break3: 1000px;
$break4: 1200px;
