// dependencies
@import 'compass';
@import 'animation';
@import 'breakpoint';

@import 'compass/reset';

@import 'functions';
@import 'variables';
@import 'type';

* {
	@include box-sizing(border-box);
}

body {
	@extend %gudea;

	background: $dark-green image-url('background.jpg') 30% 50%;
	color: $light-green;
	font-size: 14px;
	line-height: (30/18);

	@include breakpoint($break1) {
		font-size: 18px;
	}

	@include breakpoint($break4) {
		font-size: 22px;
	}
}

a {
	color: $orange;
	text-decoration: none;

	&:focus,
	&:hover {
		color: $orange + 30;
	}
}

.section-hd {
	@extend %advent;

	border-bottom: #2d2f22 6px double;
	color: $cream;
	font-size: em(32);
	line-height: 1.3;
	padding: 10px 0 15px;
	text-align: center;
	text-transform: uppercase;
}

.wrapper {
	margin: 0 auto;
	max-width: $col8;
	overflow: hidden;
	padding: 0 $gutter;

	@include breakpoint($break3) {
		max-width: $col12 + ($gutter * 2);
		padding-bottom: 75px;
		padding-top: 75px;
	}
}

header {
	margin-bottom: 30px;

	@include breakpoint($break3) {
		float: left;
		width: $col6
	}
}

.logo {
	margin-top: 30px;


	img {
		width: 100%;
	}

	.animation--fadein & {
		@include opacity(0);
	}

	.animation--fadein--loaded & {
		@include opacity(1);
		@include transition(opacity 1.6s);
	}
}

.twitter {
	@extend %advent;

	background: image-url('twitter.png') 0 -5px no-repeat;
	background-size: image-width('twitter.png') / 2 image-height('twitter.png') / 2;
	color: $mint;
	display: block;
	font-size: em(16);
	padding: 25px 0 20px 150px;
	text-transform: uppercase;

	@include transition(all 0.2s ease-in-out);

	@include breakpoint($break2) {
		right: 40px;
		position: absolute;
		top: 0;
	}
}

.intro {
	font-size: em(20);
	margin-bottom: 30px;
	padding-top: 20px;
	line-height: 1.4;
}

.event-title {
	color: $cream;
	font-size: em(24);
	line-height: 1.33;
	padding: 20px 0 10px;
}

.details {
	padding: 0 0 60px;
	position: relative;

	@include breakpoint($break3) {
		float: right;
		padding-top: 100px;
		width: $col5
	}

	br {
		display: none;

		@include breakpoint($break3) {
			display: inline;
		}
	}

	dl {
		margin-bottom: 10px;
		overflow: hidden;
	}

	dt {
		@extend %advent;

		clear: left;
		color: $brown;
		font-size: em(20);
		line-height: 1;
		margin: 15px 0 0;
		text-transform: lowercase;

		@include breakpoint($break1) {
			float: left;
			margin-bottom: 15px;
			padding-right: $gutter;
			text-align: right;
			width: $col1;
		}
	}

	dd {
		border-bottom: #2d2f22 6px double;
		color: $light-green;
		font-size: em(16);
		line-height: 1.25;
		margin: 10px 0 15px;
		padding-bottom: 15px;

		p {
			margin-bottom: 5px;
		}

		em {
			display: block;
			font-style: italic;
		}

		a {
			color: $mint;
		}

		@include breakpoint($break1) {
			border-bottom: none;
			float: left;
			margin-top: 15px;
			padding: 0;
			width: $col4;
		}

		@include breakpoint($break2) {
			width: $col6;
		}

		@include breakpoint($break1) {
			width: $col4;
		}
	}
}

.register {
	@extend %advent;

	background: $orange image-url('register.jpg');
	background-size: image-width('register.jpg') / 2 image-height('register.jpg') / 2;
	border-radius: em(35);
	border-bottom: 0px solid desaturate($orange - 40, 25%);
	color: $dark-green;
	display: block;
	font-size: em(48);
	text-align: center;

	@include transition(all 0.2s ease-in-out);

	&:hover {
		border-bottom-width: 10px;
		color: $dark-green;
		margin: -10px 0 0;
		text-shadow: 0px 0 3px $orange + 60;
	}
}

.upcoming {
	background: $medium-green;
	margin-bottom: 75px;
	overflow: hidden;
	padding: $gutter;

	@include breakpoint($break3) {
		padding-bottom: 30px;
		padding-top: 30px;
	}

	ul {
		overflow: hidden;
		padding: 10px 0;
	}

	li {
		clear: both;
		line-height: 1.4;
		padding: 20px 0;

		@include breakpoint($break1) {
			float: left;
			width: 45%;

			&:nth-child(2n) {
				clear: none;
				float: right;
			}
		}

		p {
			a {
				color: $mint;
				font-weight: bold;
			}

			b {
				color: $brown;
				display: block;
				font-size: em(14);
			}
		}

		.rsvp {
			@extend %advent;

			background: $mint image-url('rsvp.jpg');
			background-size: image-width('rsvp.jpg') / 2 image-height('rsvp.jpg') / 2;
			border-radius: em(17);
			border-bottom: 0px solid $mint - 60;
			color: $medium-green;
			display: block;
			font-size: em(30);
			line-height: 35px;
			margin: 15px auto;
			position: relative;
			text-align: center;

			@include breakpoint($break1) {
				width: 200px;
			}

			&:before,
			&:after {
				content: '\2605';
				font-size: em(8);
				position: absolute;
				top: 0;
				width: 40px;
			}

			&:before {
				left: 0;
			}

			&:after {
				right: 0;
			}

			@include transition(all 0.2s ease-in-out);

			&:hover {
				border-bottom-width: 3px;
				margin-top: 12px;
			}
		}
	}
}

.upcoming-inner {
	margin: 0 auto;
	max-width: $col12 + ($gutter * 2);
	position: relative;
}

.upcoming-interested {
	font-size: em(16);
	font-style: italic;
	text-align: center;

	@include breakpoint($break3) {
		font-style: normal;
		line-height: 3;
		position: absolute;
		right: 0;
		text-align: left;
		top: 10px;
	}

	a {
		color: $orange;
		font-weight: bold;

		&:focus,
		&:hover {
			color: $orange + 30;
		}
	}
}

.past-link {
	color: $orange;
	display: block;
	font-size: em(16);
	font-weight: bold;

	&:focus,
	&:hover {
		color: $orange + 30;
	}
}

footer {
	background: $medium-green;
	color: #818661;
	font-size: 12px;
	line-height: 1.4;
	padding: $gutter;
	position: relative;
	text-align: center;

	&:after {
		background: $medium-green;
		content: '';
		display: block;
		height: 7px;
		left: 0;
		position: absolute;
		top: -13px;
		right: 0;
	}

	p {
		display: block;

		@include breakpoint($break1) {
			display: inline-block;
			padding: 0 3px;
		}
	}
}
